body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.3)), url(worldhappine.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar-expand-md{
    background-color: teal;
}
@media only screen and (max-width: 600px) {
    .nav{ 
        background-color: teal;
        color: darkgrey; 
    } 
    .navbar-brand{ 
        background-color: teal;
        color: darkgray; 
    }
}

/* Style the sidebar - fixed full height */
.sidebar {
    height: 90%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: teal;
    overflow-x: scroll;
    padding-top: 16px;
  }
  
  /* Style sidebar links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
  }
  
  /* Style links on mouse-over */
.sidebar a:hover {
    color: #f1f1f1;
  }
  