.rainbow-text {
  background-image: linear-gradient(
    to right,
    rgb(138, 83, 138),
    rgb(105, 63, 134),
    rgba(68, 68, 146, 0.6),
    rgb(65, 143, 65),
    rgb(231, 231, 142),
    rgb(187, 137, 44),
    rgb(212, 66, 66)
  );
}

.intro-section {
  margin: auto;
  margin-top: 50px;
}

.body-section {
  margin-top: 100px;
}
.well {
  background-color: rgb(65, 143, 65, 0.8);
  border:1px solid #e3e3e3;
}

html, body, #container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Style for Leaflet map */

.leaflet-popup-content {
  text-align: center;
}
  /* CSS copy from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}